.footer{
  position:relative;
  width: 100%;
  background-color: #e7a066;
  padding: 15px 0;
}
.footer .text-muted{
  color: #fff !important;
}
.social-media span{
  margin-right: 10px;
  background: #222;
    color: #fff;
    transition: all .2s linear;
    width: 36px;
    height: 36px;
    text-align: center;
    padding-top: 5px;
    outline: 0;
    font-size: 1.25rem;
    margin-top: 12px;
    text-decoration: none;
    border: 0;
    display: inline-block;
    border-radius: 50%;
}