<h1>Add New Patient</h1>

<form (ngSubmit)="onSubmit()">
  <input
    type="text"
    [(ngModel)]="patient.id"
    name="id"
    placeholder="Enter Patient ID"
  />
  <input
    type="text"
    [(ngModel)]="patient.status"
    name="status"
    placeholder="Enter Patient Status"
  />
  <input
    type="text"
    [(ngModel)]="patient.timeframe"
    name="timeframe"
    placeholder="Enter Patient Timeframe"
  />
  <input
    type="text"
    [(ngModel)]="patient.dob"
    name="dob"
    placeholder="Enter Patient DOB"
  />
  <input
    type="text"
    [(ngModel)]="patient.race"
    name="race"
    placeholder="Enter Patient Race"
  />
  <input
    type="text"
    [(ngModel)]="patient.gender"
    name="gender"
    placeholder="Enter Patient Gender"
  />
  <input
    type="text"
    [(ngModel)]="patient.smokingStatus"
    name="smokingStatus"
    placeholder="Enter Patient Smoking Status"
  />
  <input
    type="text"
    [(ngModel)]="patient.icd10"
    name="icd10"
    placeholder="Enter Patient ICD10"
  />
  <input type="submit" value="Send" />
</form>

<div>
  <h1>All Patient</h1>
  <form (ngSubmit)="onSubmit2()">
    <input type="submit" value="Click here to get patient!">
  </form>
</div>


<div>
  <h1>Patient Details</h1>

  <p *ngFor="let detail of listpatient">
    {{ detail.id }}
    {{ detail.status }}
    {{ detail.timeframe }}
    {{ detail.risk }}
    {{ detail.dob }}
    {{ detail.race }}
    {{ detail.gender }}
    {{ detail.smokingStatus }}
    {{ detail.icd10 }}

  </p>
</div>

<div>
  <form (ngSubmit)="onSubmit3()">
    <input type="submit" value="Check Disease and Risk for all Patient">
  </form>
</div>

<div>
  <h1>Response</h1>

  <p *ngFor="let detail of patientDetails">
    {{ detail.id }}
    {{ detail.disease }}
    {{ detail.risk }}
  </p>
</div>


