
<h1>Add New Patient</h1>

<form (ngSubmit)="onSubmit()">
<div class="border border-secondary rounded p-3">
  <div class="form-group row" >
    <label for="patientid" class="col-sm-4 col-form-label">Patient ID</label>  
  <div class="col-sm-8"> 
  <input
    type="text"
    [(ngModel)]="patient.id"
    name="id"
    placeholder="Enter Patient ID"
    class="form-control" id="patientid"
  />
  </div>
</div> 
  <div class="form-group row">
    <label for="patientstatus" class="col-sm-4 col-form-label">Patient Status</label> 
    <div class="col-sm-8">    
  <input
    type="text"
    [(ngModel)]="patient.status"
    name="status"
    placeholder="Enter Patient Status"
    class="form-control" id="patientstatus"
  />
  </div>
  </div>
  <div class="form-group row">
    <label for="patienttimeframe" class="col-sm-4 col-form-label">Patient Timeframe</label> 
    <div class="col-sm-8">
  <input
    type="text"
    [(ngModel)]="patient.timeframe"
    name="timeframe"
    placeholder="Enter Patient Timeframe"
    class="form-control" id="patienttimeframe"
  />
  </div>
  </div>
  <div class="form-group row">  
    <label for="patientdob" class="col-sm-4 col-form-label">Patient Date Of Birth</label> 
    <div class="col-sm-8">
  <input
    type="text"
    [(ngModel)]="patient.dob"
    name="dob"
    placeholder="Enter Patient DOB"
    class="form-control" id="patientdob"
  />
  </div>
  </div>
  <div class="form-group row">
    <label for="patientrace" class="col-sm-4 col-form-label">Patient Race</label> 
    <div class="col-sm-8">
  <input
    type="text"
    [(ngModel)]="patient.race"
    name="race"
    placeholder="Enter Patient Race"
    class="form-control" id="patientrace"
  />
  </div>
  </div>
  <div class="form-group row">
    <label for="patientgender" class="col-sm-4 col-form-label">Patient Gender</label> 
    <div class="col-sm-8"> 
  <input
    type="text"
    [(ngModel)]="patient.gender"
    name="gender"
    placeholder="Enter Patient Gender"
    class="form-control" id="patientgender"
  />
  </div>
  </div>
  <div class="form-group row">
    <label for="patientsmokingstatus" class="col-sm-4 col-form-label">Patient Smoking Status</label> 
    <div class="col-sm-8"> 
  <input
    type="text"
    [(ngModel)]="patient.smokingStatus"
    name="smokingStatus"
    placeholder="Enter Patient Smoking Status"
    class="form-control" id="patientsmokingstatus"
  />
  </div>
  </div>
  <div class="form-group row">
    <label for="patienticd10" class="col-sm-4 col-form-label">Patient ICD10</label>
    <div class="col-sm-8">  
  <input
    type="text"
    [(ngModel)]="patient.icd10"
    name="icd10"
    placeholder="Enter Patient ICD10"
    class="form-control" id="patienticd10"
  />
  </div>
  </div>
  <div>
    <input type="submit" class="btn btn-primary" value="Send" />
  </div>
</div>
</form>

<div>
  <h1>All Patient</h1>
  <form (ngSubmit)="onSubmit2()">
    <input type="submit"  class="btn btn-success" value="Click here to get patient!">
  </form>
</div>


<div>
  <h1>Patient Details</h1>
  <table class="table border" >
  <tr>
    <th>ID</th>
    <th>Status</th>
    <th>Timeframe</th>
    <th>Risk</th>
    <th>DOB</th>
    <th>Race</th>
    <th>Gender</th>
    <th>Smoking Status</th>
    <th>ICD10</th>
  </tr>

  <tr *ngFor="let detail of listpatient">
    <td> {{ detail.id }}</td>
    <td>    {{ detail.status }}</td>
    <td>  {{ detail.timeframe }}</td>
    <td> {{ detail.risk }}</td>
    <td>   {{ detail.dob }}</td>
    <td>{{ detail.race }}</td>
    <td>{{ detail.gender }}</td>
    <td> {{ detail.smokingStatus }}</td>
    <td>    {{ detail.icd10 }}</td>
   
  </tr>
</table>
</div>

<!-- <div>
  <form (ngSubmit)="onSubmit3()">
    <input type="submit"  class="btn btn-success" value="Check Disease and Risk for all Patient">
  </form>
</div>  -->

<div>
  <h1>Response</h1>
  <table class="table border">
    <tr>
      <th>ID</th>
      <th>Disease</th>
      <th>Risk</th>
    </tr>
    <tr *ngFor="let detail of patientDetails">
      <td>  {{ detail.id }}</td>
      <td> {{ detail.disease }}</td>
      <td>  {{ detail.risk }}</td>
    </tr>

</table>
</div>


